body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.container {
    margin-top: 80px;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    animation: fadeInUp 0.5s ease-in-out;
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.header {
    text-align: center;
    animation: zoomIn 0.5s ease-in-out;
}

@keyframes zoomIn {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.header img {
    height: 100px;
}

.header h1 {
    font-size: 2.5rem;
    color: #00457c;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.header p {
    font-size: 1.2rem;
    color: #333;
}

.form-section {
    margin-bottom: 20px;
    animation: fadeInLeft 0.5s ease-in-out;
}

@keyframes fadeInLeft {
    from { opacity: 0; transform: translateX(-20px); }
    to { opacity: 1; transform: translateX(0); }
}

.form-section h2 {
    font-size: 1.8rem;
    color: #00457c;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    transition: color 0.3s;
}

.form-group label:hover {
    color: #00457c;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #00457c;
}

.radio-group {
    display: flex;
    flex-direction: row;
}

.radio-group label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
}

.form-group input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #00457c;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input[type="checkbox"]:checked::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #00457c;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-group input[type="checkbox"]:hover {
    border-color: blue;
    box-shadow: 0 0 5px #01014c;
}

.form-group label {
    display: flex;
    align-items: center;
}

.submit-btn {
    width: 100%;
    padding: 12px 15px;
    background: #00457c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    animation: fadeInUp 0.5s ease-in-out;
}

.submit-btn:hover {
    background: #003366;
    transform: scale(1.05);
}

input.valid, textarea.valid, select.valid {
    border-color: #28a745;
}

input.invalid, textarea.invalid, select.invalid {
    border-color: #dc3545;
}

@media (min-width: 768px) {
    .login-container {
        width: 70%;
        margin-top: 10vw;
    }

}

@media (max-width: 767px) {
    .login-container {
        width: 90%;
        margin-top: 20vw;
    }

    .form-group input,
    .form-group select {
        width: 100%;
    }

    #join {
        margin-top: -1vw;
        margin-right:8vw;
        width: 13vw;
    }
    .form-section{
        margin-left: 2vw;
    }
    .form-group input{
        width: 85vw;
    }
    .form-group select{
        width: 80vw;
    }
    .radio-group{
        display: grid;
        grid-template-columns: repeat(3, minmax(54px, 0.3fr));
        gap: 20px;
    }
    .form-section textarea{
        width: 85vw;
    }
    .form-group button{
        width: 60vw;
        margin-left:20vw ;
    }
}

footer{
    width: 100% !important;
    background-color:#0a192f;
}