@font-face {
    font-family: 'zurich';
    src: url('../pages/Zurich Ultra Black Extended Regular.otf') format('otf');
    font-weight: bold;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;

}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('https://ucarecdn.com/8f16c095-9ea0-4196-b01b-46764e662e8f/bg.png') no-repeat center center/cover;
}

.logo img {
    height: 50px; /* Adjust logo size */
}

.menu {
    display: flex;
    gap: 15px;
    margin-right: 2vw;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
    margin-top: 1.5vw;
    margin-left: 1vw;
}

.menu a:hover {
    color: #ffa500; /* Highlight color */
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
}
nav {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    padding-bottom: 0vw !important;
    z-index: 1000;
    filter: none;
    background-color: #0a192f !important;
    width: 100%;
    position: relative;
    top: 0 !important;
    backdrop-filter: blur(1px);
    height: fit-content !important;
}
.logo img{
    margin-top:0.5vw;
    margin-left: 2vw;
}

@media (max-width: 768px) {
    nav {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        padding-bottom: 10vw !important;
        z-index: 1000;
        height: 4vw !important;
        filter: none;
        background-color: #0a192f !important;
        width: 95%;
        margin: 0 auto;
        backdrop-filter: blur(1px);
    }

    .logo img{
        margin-top:10vw;
    }
    .menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #0a192f ;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .menu.active {
        display: flex;
    }

    .hamburger {
        display: flex;
        margin-top: 10vw;
    }
}

.hero-content {
    margin-top: auto;
    margin-bottom: auto;
}


.hero-content h1 {
    font-size: 18rem;
    font-weight: 700;
    margin: 10px 0;
    color: #c0c4e5;
}

.hero-content p {
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
    color: #ffffff;
    font-family: 'Technology', sans-serif;
}

.about {
    padding: 50px 10%;
    text-align: center;
}

.about-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

.social-icons img {
    width: 24px;
    margin: 0 10px;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hero h1 {
    animation: fadeIn 2s ease-in-out;
}

.hero h2 {
    animation: Anim2 2s ease 0s 1 normal forwards;
}
.hero p {
    animation: fadeIn 10s ease-in-out;
}

@keyframes Anim2 {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: scale(7);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: scale(1);
    }

    55% {
        animation-timing-function: ease-in;
        transform: scale(1.5);
    }

    72% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }

    81% {
        animation-timing-function: ease-in;
        transform: scale(1.24);
    }

    89% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }

    95% {
        animation-timing-function: ease-in;
        transform: scale(1.04);
    }

    100% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* stats */
.stats {
    display: flex;
    justify-content: space-around;
    padding: 50px 10%;
    background: #f9f9f9;
    text-align: center;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.stat:hover {
    transform: scale(1.05);
}

.stat-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-number {
    font-size: 3rem;
    font-weight: bold;
    color: #00629b;
}




/* Mission and Vision */
.mission-vision {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    color: black;
    margin: 40px 0;
    border-radius: 15px;
}

.mission, .vision {
    width: 45%;
    text-align: center;
    padding: 30px;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    border: 1px solid #00629b;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.mission h3, .vision h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    font-weight: bold;
    color: #00629b;
    text-transform: uppercase;
}

.mission p, .vision p {
    font-size: 1.1em;
    line-height: 1.8;
    color:black;
}

.mission:hover, .vision:hover {
    border-radius: 10px;
    background: linear-gradient(135deg, #007BFF, #00629b);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    h3{
        color: wheat;
    }
    p {
        color: white;
    }
}



.blog {
    padding: 20px;
    background: #f9f9f9;
    margin: 20px 0;
    text-align: center;
}

.blog h3 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #00629b;
}

.blog-posts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blog-post {
    width: 30%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-post:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.blog-post img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.blog-post img:hover {
    transform: scale(1.05);
}

.blog-post h4 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
    transition: color 0.3s ease;
}

.blog-post:hover h4 {
    color: #00629b;
}

.blog-post p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    text-align: left;
    transition: color 0.3s ease;
}

.blog-post:hover p {
    color: #333;
}

/* Events */
.events {
    padding: 60px 20px;
    text-align: center;
}

.events-container {
    max-width: 1200px;
    margin: 0 auto;
}

.events h2 {
    font-size: 2.5em;
    color: #00629b;
    margin-bottom: 20px;
}

.events-description {
    font-size: 1.1em;
    color: #555;
    max-width: 800px;
    margin: 0 auto 40px;
    line-height: 1.6;
}

.event-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.event-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 45%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.event-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event-details {
    padding: 20px;
    text-align: left;
}

.event-details h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.event-date, .event-location {
    font-size: 0.95em;
    color: #777;
    margin-bottom: 10px;
}

.event-description {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.event-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00629b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.event-button:hover {
    background-color: #007bff;
}

.view-all-events {
    display: inline-block;
    margin-top: 40px;
    font-size: 1.1em;
    color: #00629b;
    text-decoration: none;
    transition: color 0.3s ease;
}

.view-all-events:hover {
    color:  #007bff;
}


#omv{
    display: flex; justify-content: center; font-size:2vw; font-weight: bold;color: #00629b;
}


/* Responsive */


@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 6rem;
    }
    .hero-content p {
        font-size: 1.6rem;
    }
    .hero{
        margin-top: -15vw;
    }
    nav {
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: #2c3e50; /* Added background color for better visibility */
        padding: 10px 10px;
        z-index: 1000;
        height: auto; /* Adjusted height to auto */
        filter: none;
        backdrop-filter: blur(1px);
        width: 95.5%; /* Adjusted width to 100% */
    }
    .head img {
        width: 20vw;
        height: 20vh;
        display: block !important;
    }
    nav ul {
        display: flex; /* Changed to flex for better layout */
        flex-direction: column; /* Added flex-direction column */
        align-items: center; /* Centered items */
    }
    nav ul li {
        margin-bottom: 10px;
    }
    #omv {
        font-size: 7vw;
    }

    .stats {
        flex-direction: column;
        align-items: center;
    }
    .stat {
        margin-bottom: 20px;
    }

    .mission-vision {
        flex-direction: column;
        align-items: center;
    }
    .mission, .vision {
        width: 90%;
        margin-bottom: 20px;
    }

    .blog-posts {
        flex-direction: column;
        align-items: center;
    }
    .blog-post {
        width: 90%;
        margin-bottom: 20px;
    }

    .event-cards {
        flex-direction: column;
        align-items: center;
    }
    .event-card {
        width: 90%;
        margin-bottom: 20px;
    }
    #join {
        width: 15vw;
        margin-top: 2vw;
        background-color: #0a192f;
    }
}

.footer {
    background-color: #0a192f !important;;
    color: #ecf0f1;
    padding: 2rem 0;
    margin-top: auto;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 1rem;
}

.footer-logo {
    width: 150px;
    margin-bottom: 1rem;
    opacity: 0.8;
}

.footer-links li {
    margin: 0.5rem 0;
}

.social-links {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}

    .footer-bottom {
        display: flex;
        text-align: center;
        justify-content: center;
        border-top: 1px solid #34495e;
        background-color: black;
        width: 100%;
        bottom: 0;
        margin: 0;
        color: white;
    }


.footer a {
    color: #ecf0f1;
    text-decoration: none;
}

.footer a:hover {
    color: #3498db;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
    .footer-section li{
        padding: 2vw;
    }

    .social-links {
        justify-content: center;
    }
}


.join-button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #0a192f ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1);
    position: relative;
    overflow: hidden;
}

.join-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
}

.join-button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.join-button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 123, 255, 0.2);
    transform: translateY(-2px);
}

.join-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1);
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}
